.row
  .col-md-8
    .box.box-primary.direct-chat.direct-chat-primary
      .box-header.with-border
        h3.box-title #{destUser}
        .box-tools.pull-right
          button(class="btn btn-box-tool") Report
          button(class="btn btn-box-tool") Kết thúc trò chuyện
      .box-body#boxbody
        .direct-chat-messages#messagebox
          //.direct-chat-msg
          //  .direct-chat-info.clearfix
          //    span(class="direct-chat-name pull-left") #{destUser}
          //    //span(class="direct-chat-timestamp pull-right") 23 Jan 2:00 pm
          //  img(class="direct-chat-img" src="/images/favicon.ico")
          //  .direct-chat-text Xin chao, toi la Duc :*
          //.direct-chat-msg.right
          //  .direct-chat-info.clearfix
          //    span.direct-chat-name.pull-right Nguyen Trung Duc
          //    //span.direct-chat-timestamp.pull-left 23 Jan 2:00 pm
          //  img(class="direct-chat-img" src="/images/favicon.ico")
          //  .direct-chat-text Xin chao, toi la Duc :)

      .box-footer
        .input-group
          input(type="text" name="message" placeholder="Type message..." class="form-control" id="msgContent" onkeypress="onInputKeyPress(event)")
          input(type="hidden" name="pairId" id="pairId" value="#{pairId}")
          input(type="hidden" name="pairId" id="selfAvatarUrlId" value="#{selfUrl}")
          input(type="hidden" name="pairId" id="friendAvatarUrlId" value="#{friendUrl}")
          span(class="input-group-btn")
            a(class="btn btn-primary btn-flat" href="#" onclick="sendMessage()") Send

script(src="/javascripts/chat.js")